@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background: linear-gradient(180deg, #000000, #020006, #070016, #0f002f, #18004d, #23006e, #2e0091, #3900b2, #4200d0, #4a00e9, #4f00f9, #5100ff);
	min-height: 100%;
    	background-repeat: no-repeat;
    	background-attachment: fixed;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px, 10px;
	margin-top: 20px;
}

li, a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}
/* Classes */
.name {
	margin-right: 10px;
	list-style: none;
	padding-left: 100px;
}

.nav-links {
	list-style: none;
	padding-right: 100px;
}

.nav-links li {
	display: inline-block;
	padding: 20px 50px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	text-shadow: white 1px 0 10px;
}
