
/* Navigation Bar */
ul {
	/* Remove List Styles */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	/* Fixed Top */
	position: fixed;
	top: 0;
	width: 100%;
	/* Text Styles */
	font-family: sans-serif;
	/* Borders */
	border: 1px solid blue;
}
li {
	display: inline-block;
}
li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.active{
	background-color: grey;
}

/* Headers */

h1{
	margin-left: 10px;
	margin-top: 10px;
	color: white;
}
