* {
	color: black;
	text-align:center;
	font-family: sans-serif;
}
body {
	background-image: url("image.jpg");
	background-color: 255, 255, 255, 0.7;
	background-repeat: no-repeat;
	background-size: auto;
	opacity: 0.9;
}
a {
	text-decoration: none;
	font-family: monospace;
}
