* {
	color: white;
	text-align:center;
	font-family: sans-serif;
}
body {
	background-color: white;
	background-image: url("image.jpg");
	background-size: auto;
}
a {
	text-decoration: none;
	font-family: monospace;
}
