* {
	color: black;
	text-align:center;
	font-family: sans-serif;
}
body {
	background-image: url("image.jpg");
	background-color: black;
	opacity: 0.3;
}
a {
	text-decoration: none;
	font-family: monospace;
}
